<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="err-content">
        <h1><%= message %></h1>
        <a href="/">Back home</a>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>