<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Form</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1>Enter your message</h1>
    <form method="POST" action="/new">
        <label for="user">Username:</label>
        <input type="text" id="user" name="user" required>

        <label for="messageText">Message:</label>
        <textarea name="messageText" id="messageText"></textarea required>

        <input type="submit" value="Submit">
    </form>
</body>
</html>